<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="highlight/styles/monokai-sublime.css">
</head>

<body>
  <div id="app" class="container">
    <header>
      <img src="favicon.ico" alt="tgs" style="margin: 6px 0 6px 60px;">
    </header>

    <div class="left">
      <el-scrollbar wrap-class="scrollbar-wrapper" style="height: 100%;">
        <!-- <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>配置信息</span>
          </div> -->
        <el-alert title="以下内容均为必填项！" type="warning" close-text="知道了">
        </el-alert>
        <el-form :model="formData" ref="baseForm" style="margin: 20px;">
          <el-row>
            <el-form-item label="环境">
              <el-select v-model="formData.env" placeholder="请选择">
                <el-option v-for="item in selectInfo.env" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="服务">
              <el-select v-model="formData.service" placeholder="请选择">
                <el-option v-for="item in selectInfo.service" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="游戏">
              <el-select v-model="formData.game" placeholder="请选择">
                <el-option v-for="item in selectInfo.game" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="验证方法">
              <el-radio-group v-model="formData.authWay">
                <el-radio label="auth"></el-radio>
                <el-radio label="auth2"></el-radio>
              </el-radio-group>
            </el-form-item>
          </el-row>

          <el-row>
            <el-form-item label="验证类型">
              <el-radio-group v-model="formData.authType">
                <el-radio-button label="0">账户密码</el-radio-button>
                <el-radio-button label="1">Token</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="用户名" v-if="formData.authType == '0'" prop="username">
              <el-input placeholder="请输入用户名" v-model="formData.username" class="input-with-select">
                <el-select style="width: 130px;" v-model="formData.userType" slot="prepend" placeholder="用户类型">
                  <el-option v-for="item in selectInfo.userType" :key="item" :label="item" :value="item"></el-option>
                </el-select>
              </el-input>
            </el-form-item>
            <el-form-item label="密码" v-if="formData.authType == '0'" prop="password">
              <el-input v-model="formData.password" style="width:258px;"></el-input>
            </el-form-item>
            <el-form-item label="Token" v-else>
              <el-input type="textarea" rows="6" v-model="formData.token" style="width:258px;height: 132px;"></el-input>
            </el-form-item>
          </el-row>

          <el-row>
            <!-- <el-form-item label="Scope"> -->
            <!-- <el-checkbox-group v-model="formData.scopeList">
                  <el-checkbox v-for="item in selectInfo.scope" :key="item" :label="item"></el-checkbox>
                </el-checkbox-group> -->
            <label for="scopetree" class="label">Scope</label>
            <el-tree id="scopetree" :props="defaultProps" :data="selectInfo.scope" :default-checked-keys="checkedKeys"
              show-checkbox node-key="label" ref="tree">
              <!-- </el-form-item> -->
          </el-row>
        </el-form>
        <!-- </el-card> -->
      </el-scrollbar>
    </div>

    <div class="main">
      <section class="middle">
        <el-scrollbar wrap-class="scrollbar-wrapper" style="height: 100%;">

          <section style="padding: 20px;">
            <el-row style="display: flex;">
              <!-- <el-form-item label="请求路径" prop="queryPath"> -->
              <el-input placeholder="请输入路径，例如：/buylist" v-model="formData.queryPath" class="input-with-select">
                <el-select style="width: 120px;text-align: center;" v-model="formData.queryMethod" slot="prepend"
                  placeholder="请求方法">
                  <el-option v-for="item in selectInfo.queryMethod" :key="item" :label="item" :value="item"></el-option>
                </el-select>
              </el-input>
              <el-button type="primary" @click="send('baseForm')" style="margin-left: 20px;">发送请求</el-button>
              <!-- </el-form-item> -->
            </el-row>
            <el-table :data="formData.params" style="width: 100%" size="small">
              <el-table-column label="Key">
                <template slot-scope="scope">
                  <el-input type="text" v-model="scope.row.key" class="edit-input" size="small" @change="isBlank" />
                </template>
              </el-table-column>
              <el-table-column label="Value">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.value" class="edit-input" size="small" @change="isBlank" />
                </template>
              </el-table-column>
              <el-table-column label="Delete" width="80px;">
                <template slot-scope="scope" v-if="scope.$index != (formData.params.length - 1)">
                  <el-button icon="el-icon-delete" size="small" plain type="danger" @click="removeParam(scope.$index)"></el-button>
                </template>
              </el-table-column>
            </el-table>
          </section>

          <!-- <el-row v-for="(item,index) in formData.params">
            <el-form-item>
            <el-input placeholder="请输入内容" v-model="formData.params[index].key">
              <template slot="prepend">key</template>
            </el-input>
            </el-form-item>
            <el-form-item>
            <el-input placeholder="请输入内容" v-model="formData.params[index].value">
              <template slot="prepend">value</template>
            </el-input>
            </el-form-item>
            <el-form-item>
            <el-button icon="el-icon-delete" plain type="danger" @click="removeParam(index)"></el-button>
            </el-form-item>
          </el-row>
          <el-form-item>
          </el-form-item> -->
          <el-card class="box-card" style="margin:0 20px 20px 20px;">
            <div slot="header" class="clearfix">
              <span>请求结果</span>
            </div>
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="Body" name="first">
                <span class="label">请求时间：</span>
                <el-tag type="info">{{requestTime}}</el-tag>
                <span class="label">状态码：</span>
                <el-tag :type="getStatus(statusCode)">{{statusCode}}</el-tag>
                <pre><code id="response" class="json">暂无结果</code></pre>
              </el-tab-pane>
              <el-tab-pane label="Headers" name="second">
                <pre><code id="headers" class="json">暂无结果</code></pre>
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </el-scrollbar>
      </section>

      <div class="right">
        <el-scrollbar wrap-class="scrollbar-wrapper" style="height: 100%;">
          <el-table :data="historyList" style="width: 100%">
            <el-table-column label="历史记录">
              <template slot-scope="scope">
                <p @click="showHistory(scope.row)">{{scope.row.queryUrl}}</p>
              </template>
            </el-table-column>
            <el-table-column width="40px;">
              <template slot-scope="scope">
                <el-button icon="el-icon-delete" type="text" @click="removeHistory(scope.$index)"></el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-scrollbar>
      </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- import Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const statusMap = new Map([
  [0, 'info'],
  [1, 'info'],
  [2, 'success'],
  [3, 'warning'],
  [4, 'error'],
  [5, 'error'],
])
  new Vue({
    el: '#app',
    data() {
      // var checkifblank = (rule, value, callback) => {
      //   if (!value) {
      //     this.$message.error('错了哦，这是一条错误消息')
      //   }
      // }
      return {
        // rules: {
        //   password: [
        //     { validator: checkifblank, trigger: 'blur' }
        //   ],
        //   username: [
        //     { validator: checkifblank, trigger: 'blur' }
        //   ],
        //   queryPath: [
        //     { validator: checkifblank, message: '请输入路径', trigger: 'blur' }
        //   ]
        // },
        defaultProps: {
          children: 'children',
          label: 'label'
        },
        selectInfo: {
          env: ['dev', 'beta', 'gold'],
          service: ['auth2', 'chat', 'gateway', 'message', 'pay2', 'translate', 'auth', 'file-server', 'geoip', 'link', 'pay', 'ucenter'],
          game: ['tgstest', 'ba', 'G301', 'g303', 'B001', 'c4'],
          userType: ['anonymous', 'tap4fun', 'system', 'game', 'facebook', 'twitter', 'weibo', 'googleplus', 'mobojoy', '360', 'uc', 'downjoy',
            'xiaomi', 'qq', 'weixin', 'ly', 'openweixin', 'openqq', 'baidu', 'vivo', 'huawei', 'oppo', '1sdk', 'gamecenter'],
          queryMethod: ['GET', 'POST', 'PUT', 'DELETE'],
          scope: [{
            label: '基础权限',
            children: [{
              label: 'auth'
            }, {
              label: 'ads'
            }, {
              label: 'pay'
            }, {
              label: 'message'
            }]
          }, {
            label: '游戏服务账号特有权限',
            children: [{
              //   label: 'auth'
              // }, {
              //   label: 'ads'
              // }, {
              label: 'auth_game_admin'
            }, {
              label: 'ads_rw'
            }, {
              //   label: 'pay'
              // }, {
              //   label: 'message'
              // }, {
              label: 'message_admin'
            }, {
              label: 'chat_admin'
            }, {
              label: 'chat_system'
            }, {
              label: 'link_admin'
            }, {
              label: 'pay_game_admin'
            }, {
              label: 'gateway_game_admin'
            }]
          }, {
            label: '玩家账号特有权限',
            children: [{
              //   label: 'auth'
              // }, {
              //   label: 'ads'
              // }, {
              //   label: 'pay'
              // }, {
              //   label: 'message'
              // }, {
              label: 'chat'
            }]
          }, {
            label: '其他权限',
            children: [{
              label: 'mail_admin'
            }, {
              label: 'auth2'
            }, {
              label: 'system'
            }, {
              label: 'pay_system'
            }, {
              label: 'message_system'
            }, {
              label: 'gateway_system'
            }, {
              label: 'auth_system'
            }]
          }]
          // scope: ['auth', 'auth_game_admin', 'message', 'message_admin', 'chat_admin', 'chat_system', 'ads_rw', 'pay_game_admin', 'pay', 'gateway_game_admin', 'link_admin', 'mail_admin', 'system', 'gateway_system', 'chat', 'pay_system', 'ads', 'message_system', 'auth2', 'auth_system']
          // scope: ['auth', 'ads', 'auth_game_admin', 'ads_rw', 'pay', 'message', 'message_admin', 'chat', 'chat_admin', 'chat_system', 'pay_game_admin', 'gateway_game_admin', 'link_admin', 'mail_admin', 'auth2', 'system', 'pay_system', 'message_system', 'gateway_system', 'auth_system']
        },
        formData: {
          env: '',
          service: '',
          game: '',
          clientId: '',
          authType: '0',
          userType: '',
          username: '',
          password: '',
          token: '',
          authWay: 'auth',
          queryMethod: 'GET',
          queryPath: '',
          params: [{
            key: '',
            value: ''
          }],
          scopeList: ''
        },
        nameUrl: '',
        accessToken: '',
        requestTime: '未请求',
        statusCode: '-',
        activeName: 'first',
        checkedKeys: [],
        historyList: [],
        queryUrl: '',
        result: ''
      }
    },
    mounted() {
      let emptyParams = [{ key: '', value: '' }]
      // 读取缓存数据
      this.formData.env = localStorage.getItem('env')
      this.formData.service = localStorage.getItem('service')
      this.formData.game = localStorage.getItem('game')
      this.formData.authType = localStorage.getItem('authType') || '0'
      this.formData.userType = localStorage.getItem('userType')
      this.formData.username = localStorage.getItem('username')
      this.formData.password = localStorage.getItem('password')
      this.formData.token = localStorage.getItem('token')
      this.formData.authWay = localStorage.getItem('authWay') || 'auth'
      this.formData.queryMethod = localStorage.getItem('queryMethod') || 'GET'
      this.formData.queryPath = localStorage.getItem('queryPath')
      this.formData.params = JSON.parse(localStorage.getItem('params')) || emptyParams
      this.checkedKeys = localStorage.getItem('scopeList') || []
      if (typeof (this.checkedKeys) == 'string') {
        this.checkedKeys = this.checkedKeys.split(',')
      }
      let h = JSON.parse(localStorage.getItem('historyList'))
      this.historyList = (h == '') ? [] : h
    },
    created() {
      // 页面卸载之前存储信息
      window.onbeforeunload = () => {
        localStorage.setItem('env', this.formData.env)
        localStorage.setItem('service', this.formData.service)
        localStorage.setItem('game', this.formData.game)
        localStorage.setItem('authType', this.formData.authType)
        localStorage.setItem('userType', this.formData.userType)
        localStorage.setItem('username', this.formData.username)
        localStorage.setItem('password', this.formData.password)
        localStorage.setItem('token', this.formData.token)
        localStorage.setItem('authWay', this.formData.authWay)
        localStorage.setItem('queryMethod', this.formData.queryMethod)
        localStorage.setItem('queryPath', this.formData.queryPath)
        this.getScopes()
        localStorage.setItem('params', JSON.stringify(this.formData.params))
        localStorage.setItem('scopeList', this.formData.scopeList)
        localStorage.setItem('historyList', JSON.stringify(this.historyList))
      }
    },
    methods: {
      // 获取scope
      getScopes() {
        let arr = this.$refs.tree.getCheckedKeys(true)
        this.formData.scopeList = Array.from(new Set(arr)).join()
      },
      // 添加参数
      addParams() {
        this.formData.params.push({})
      },
      isBlank() {
        let l = this.formData.params.length - 1
        if (this.formData.params[l].key || this.formData.params[l].value) {
          this.addParams()
        }
      },
      // 删除参数
      removeParam(idx) {
        this.formData.params.splice(idx, 1)
      },
      // 获取参数
      getParams() {
        let l = this.formData.params.length
        let data = {}
        if (l) {
          for (let i = 0; i < l; i++) {
            let key = this.formData.params[i].key
            let value = this.formData.params[i].value
            data[key] = value
          }
        }
        return data
      },
      send(formName) {
        let groupOne,groupTwo
        groupOne = this.formData.env && this.formData.service && this.formData.game
        if (this.formData.authType == '0') {
          groupTwo = this.formData.userType && this.formData.username && this.formData.password
        } else {
          groupTwo = this.formData.token
        }
        if (groupOne && groupTwo) {
          let pattern = /^\//i
          if (pattern.test(this.formData.queryPath)) {
        // }
        // this.$refs[formName].validate((valid) => {
        //   if (valid) {
            this.formData.clientId = this.formData.game + ':1.0.0'
            var myDate = new Date();
            this.requestTime = myDate.toLocaleString()
            this.getScopes()
            this.getNameAddr(this.formData.env)
          } else {
            this.$message.error('请求路径格式错误！')
          }
        } else {
          this.$message.error('必填项没有填写完整！')
          // return false
        }
        // })
      },
      // 获取name服务的地址
      getNameAddr(env) {
        let that = this
        if (env != "gold") {
          env = "-" + env
        } else {
          env = ''
        }
        let url = "https://eve" + env + ".pf.tap4fun.com:10443/config"
        axios({
          method: 'GET',
          url: url,
          params: {
            client_id: that.formData.clientId
          },
          responseType: 'json'
        }).then(async function (res) {
          that.nameUrl = res.data.cfn.servers.name
          let authdata = { client_id: that.formData.clientId };
          let apiData = { client_id: that.formData.clientId, service: that.formData.service };
          // 如果验证类型为”用户名密码“，则先获取token
          if (that.formData.authType == "0") {
            authdata.service = that.formData.authWay
            let authUrl = await that.getServiceAddr('GET', authdata)
            let authorizeData = {}
            authorizeData.client_id = that.formData.clientId
            authorizeData.user = that.formData.userType + ':' + that.formData.username
            authorizeData.password = that.formData.password
            authorizeData.scope = that.formData.scopeList
            await that.authorize(authUrl, authorizeData)
          } else {
            that.accessToken = that.formData.token
          }
          // 调用获取服务的方法
          serviceUrl = await that.getServiceAddr(that.formData.queryMethod, apiData)
          let serviceData = that.getParams()
          serviceData.access_token = that.accessToken
          // 发送api请求
          await that.checkAPI(serviceUrl, serviceData)
          that.setHistory()
        })
      },
      // 获取具体服务的地址
      async getServiceAddr(queryMethod, data) {
        let url
        await axios({
          url: this.nameUrl + "/locate",
          method: queryMethod,
          params: data,
          responseType: "json"
        }).then((res) => {
          url = res.data.schema + "://" + res.data.host + ":" + res.data.https_port + res.data.path
        })
        return url
      },
      // 获取access_token
      async authorize(baseUrl, data) {
        await axios({
          url: baseUrl + "/authorize", //请求地址
          method: 'GET',   //请求方式
          params: data, //请求参数
          responseType: "json"
        }).then((res) => {
          this.accessToken = res.data.access_token
        })
      },
      // 调试api
      async checkAPI(baseUrl, data) {
        this.getQueryUrl(baseUrl)
        await axios({
          url: baseUrl + this.formData.queryPath, //请求地址
          method: 'GET',   //请求方式
          params: data, //请求参数
          responseType: "json"
        }).then((res) => {
          this.result = res
          this.showResult(res)
        })
      },
      // 展示结果
      showResult (res) {
        this.statusCode = res.status
        let code = document.getElementById("response")
        code.innerHTML = JSON.stringify(res.data, null, 2)
        let headers = document.getElementById("headers")
        headers.innerHTML = JSON.stringify(res, null, 2)
        hljs.highlightBlock(code);
        hljs.highlightBlock(headers);
      },
      // 获取状态码样式
      getStatus (statuscode) {
        switch(Math.floor(statuscode/100)) {
          case 1:
            code = 1
            break;
          case 2:
            code = 2
            break;
          case 3:
            code = 3
            break;
          case 4:
            code = 4
            break;
          case 5:
            code = 5
            break;
          default:
            code = 0
        }
        return statusMap.get(code)
      },
      getQueryUrl(baseUrl) {
        let queryParam = '?'
        let l = this.formData.params.length
        let i = 0, j = 0
        for (i; i < l - 1; i++) {
          queryParam += this.formData.params[i].key + '=' + this.formData.params[i].value
          for (j; j < l - 2; j++) {
            queryParam += '&'
          }
        }
        this.queryUrl = baseUrl + this.formData.queryPath + queryParam
      },
      handleClick(tab, event) {
        console.log(tab, event);
      },
      setHistory() {
        let history = {}
        history.formData = JSON.parse(JSON.stringify(this.formData))
        history.result = this.result
        history.requestTime = this.requestTime
        history.queryUrl = this.queryUrl
        this.historyList.unshift(history)
      },
      // 删除历史记录
      removeHistory(idx) {
        this.historyList.splice(idx, 1)
      },
      showHistory(row) {
        this.formData.env = row.formData.env
        this.formData.service = row.formData.service
        this.formData.game = row.formData.game
        this.formData.authType = row.formData.authType
        this.formData.userType = row.formData.userType
        this.formData.username = row.formData.username
        this.formData.password = row.formData.password
        this.formData.token = row.formData.token
        this.formData.authWay = row.formData.authWay
        this.formData.queryMethod = row.formData.queryMethod
        this.formData.queryPath = row.formData.queryPath
        this.formData.params = row.formData.params
        this.$refs.tree.setCheckedKeys(row.formData.scopeList.split(","))
        this.showResult(row.result)
        this.requestTime = row.requestTime
      }
    }
  })
</script>

</html>